/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

i {
    font-style: normal;
}
button {
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: 0;
}

a {
    text-decoration: none;

    &:not(:visited) {
        color: inherit;
    }
}

a:visited {
    color: inherit;
}

a:active {
    color: inherit;
}

// webfont
// Pretendard GOV
@font-face {
    font-family: 'Pretendard GOV';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard GOV Regular'),
        url('/assets/fonts/pretendard-gov/PretendardGOV-Regular.woff2')
            format('woff2');
}

body {
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Pretendard GOV';
    color: var(--default-color);
    background-color: #fff;

    .b {
        font-weight: 700;
    }
}

img {
    max-width: 100%;
}

strong {
    &.m {
        font-weight: 500;
    }
    &.b {
        font-weight: 700;
    }
}
